.page-title {
	position: relative;
	max-width: 90%;
	margin-bottom: 2em;
	margin-top: 2em;

	& a {
		text-decoration: none;
	}

	& a h2 {
		margin: 0;
		z-index: 10;
		line-height: 1.7em;
		color: @black;
		position: relative;
	}
	
}

	.page-title__background {
		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			right: 3em;
			height: 1.5em;
			width: 200%;
			background: linear-gradient(107deg, rgba(50,50,50,1) 0%, rgba(150,150,150,1) 39%, rgba(101,101,101,1) 72%, rgba(0,0,0,1) 100%, rgba(198,198,198,1) 100%);
			transform: skewX(-20deg);
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 0;
			top: 0.5em;
			right: 3em;
			height: 1.8em;
			min-width: 200%;
			background: rgb(111,74,5);
			background: linear-gradient(139deg, rgba(241,186,31,1) 0%, rgba(255,200,0,1) 46%, rgba(204,204,204,1) 100%);
			transform: skewX(-20deg);
		}
		
	}