<% var data = {
  title: "Завод КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a class="active" href="#">Контакты</a>
    </div>

	<h1>С вами работают:</h1>

	<section>
		<div class="contacts-list contacts">
			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/kuznetcov1.jpg" alt="Кузнецов Игорь" title="Кузнецов Игорь">
				</div>	
				<span class="contacts__name">Кузнецов Игорь</span>
				<span class="contacts__position">руководитель отдела продаж</span>
				<span class="contacts__mail">kuznetsov.iv</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/karina1.jpg" alt="Бороздина Карина" title="Бороздина Карина">
				</div>	
				<span class="contacts__name">Бороздина Карина</span>
				<span class="contacts__position">специалист отдела ВЭД</span>
				<span class="contacts__mail">borozdina.kb</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/kashtanovanatal_ya.jpg" alt="Каштанова Наталья" title="Каштанова Наталья">
				</div>	
				<span class="contacts__name">Каштанова Наталья</span>
				<span class="contacts__position">специалист по ВЭД</span>
				<span class="contacts__mail">kashtanova.ne</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/cherenkova1.jpg" alt="Черенкова Анна" title="Черенкова Анна">
				</div>	
				<span class="contacts__name">Черенкова Анна</span>
				<span class="contacts__position">менеджер по продажам</span>
				<span class="contacts__mail">cherenkova.av</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/borisova_n.jpg" alt="Борисова Анастасия" title="Борисова Анастасия">
				</div>	
				<span class="contacts__name">Борисова Анастасия</span>
				<span class="contacts__position">менеджер по продажам</span>
				<span class="contacts__mail">borisova.aa</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/samofatova_sveta1.jpg" alt="Самофатова Светлана" title="Самофатова Светлана">
				</div>	
				<span class="contacts__name">Самофатова Светлана</span>
				<span class="contacts__position">менеджер по продажам</span>
				<span class="contacts__mail">samofatova.sa</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/manaenkova_t.jpg" alt="Зыкова Татьяна" title="Зыкова Татьяна">
				</div>	
				<span class="contacts__name">Зыкова Татьяна</span>
				<span class="contacts__position">менеджер по продажам</span>
				<span class="contacts__mail">manaenkova.ta</span>
			</div>

			<div class="contacts__item">
				<div>
					<img class="contacts__img" src="./img/contacts/paladina_evg.jpg" alt="Паладина Евгения" title="Паладина Евгения">
				</div>	
				<span class="contacts__name">Паладина Евгения</span>
				<span class="contacts__position">web-поддержка</span>
				<span class="contacts__mail">paladina.em1</span>
			</div>
		</div>
	</section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	