<% var data = {
  title: "Продукция КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a class="active" href="#">Доставка</a>
    </div>

	<h1>Доставка</h1>

	<section>
		<p>За нашими плечами многолетний опыт успешной работы на российском и зарубежном рынке электротехнической продукции. Находясь в непосредственной близости от производства, мы предоставляем нашим клиентам оперативную поставку продукции в любую точку России и ближнего зарубежья. Доставка может быть осуществлена удобным для вас способом:</p>
		<ul class="description__list">
			<li class="description__item">
				<h3>Через филиалы транспортных компаний</h3>
				<ul>
					<li>ПЭК</li>
					<li>ООО ЖелДорЭкспедиция</li>
					<li>Деловые Линии</li>
					<li>Энергия</li>
					<li>ТК КИТ</li>
					<li>ТК ГлавДоставка</li>
					<li>DPD</li>
					<li>ТК Байкал Сервис</li>
				</ul>
			</li>
			<li class="description__item">
				<h3>Самовывозом</h3>
				<p>Вы можете забрать заказ самостоятельно с нашего склада. За консультацией обращайтесь к специалистам Торгового Дома «КВТ».</p>
			</li>
			<li class="description__item">
				<h3>Собственным транспортом компании</h3>
				<p>Наша компания готова организовать доставку вашего заказа собственным транспортом. Об условиях, сроках и стоимости доставки уточняйте дополнительно.</p>
			</li>
		</ul>		
	</section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	