<% var data = {
  title: "Завод КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>
        <a target="_self" href="./about_us.html">О нас</a>
        <a class="active" href="#">Завод КВТ</a>
    </div>

	<h1>Завод КВТ</h1>

	<section class="page-content">		   
		<p><a target="blank" href="https://kvt.su" title="Завод КВТ">Электротехнический завод «КВТ»</a> является одним из ведущих предприятий России по разработке и производству широкого ассортимента кабельной арматуры: кабельных наконечников и соединителей, термоусаживаемых муфт и трубок, электромонтажного инструмента и изделий для прокладки кабеля.</p>

		<p>Завод «КВТ» был основан в 1999 году. За годы успешной работы из небольшого цеха по производству кабельных наконечников завод вырос в современное многопрофильное предприятие с производственными и складскими площадями более 16000 м2, численностью работающих около 350 человек и промышленным оборудованием более 300 единиц. Ассортимент продукции составляет свыше 4000 наименований. Парк станков «КВТ» постоянно пополняется новыми видами высокотехнологичного оборудования.</p>

		<p>Качество продукции «КВТ» опирается на высокий уровень менеджмента, инновационные технологии, культуру производства и мотивацию персонала.</p>

		<p>Система менеджмента качества завода соответствует международным требованиям ISO 9001.</p>

		<p>Завод «КВТ» ежегодно участвует в различных электротехнических выставках, международных форумах, проводит семинары и практические занятия по продукции, проводит научно-исследовательскую и опытно-конструкторскую работу по освоению новых направлений продукции.</p>
	</section>

	<div class="media__list media-list media__list--gallery">
	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/ecology_26.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/ecology_26.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/ecology_27.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/ecology_27.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/factory_009.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/factory_009.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/ecology_29.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/ecology_29.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/factory_010.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/factory_010.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/lab_016.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/lab_016.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/factory_012.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/factory_012.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/ecology_01.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/ecology_01.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/ecology_04.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/ecology_04.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/factory_012.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/factory_012.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/ecology_05.jpg" title="Завод КВТ">
	            <img class="media-list__img" src="./img/kaluga/ecology_05.jpg" title="Завод КВТ" alt="Завод КВТ">
	        </a>
	    </figure>
  	</div>  
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	