<% var data = {
  title: "Завод КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a class="active" href="#">Завод КВТ</a>
    </div>

	<h1>Завод КВТ</h1>

	<section class="subsetions-links">
		<a class="subsetions-links__item" href="./">История</a>
		<a class="subsetions-links__item" href="./">Контроль качества</a>
		<a class="subsetions-links__item" href="./">Испытательная лаборатория</a>
	</section>

	<section class="page-content">		   
		<p>На российском рынке, в том числе и электротехническом, представлено большое количество торговых марок: как всемирно известных зарубежных, так и стремительно развивающихся — российских. Но, как известно, далеко не всем им суждено стать признанными брендами, заявив и удержав репутацию производителя надежной высококачественной продукции.</p>		

	    <iframe  width="560" height="315"  src="https://www.youtube.com/embed/UD12My4feGY"allowfullscreen></iframe>
	</section>	

	<section class="page-content">		   
		<p>Завод «КВТ» был основан в 1999 году. За годы успешной работы электротехнический завод «КВТ» вырос из небольшого цеха по производству кабельных наконечников в современное предприятие с площадью более 16000м², численностью работающих 350 человек и промышленным оборудованием более 250 единиц современной техники. На заводе «КВТ» введена система менеджмента качества ISO 9001. Выпускаемая продукция сертифицирована ведущими органами по сертификации России. Неизменное качество, надежность и безопасность изделий подтверждается дипломами российских и международных выставок.</p>		

	    <iframe  width="560" height="315"  src="https://www.youtube.com/embed/gMa1VQN0pUY"allowfullscreen></iframe>
	</section>

	<section class="page-content">	
		<p>Благодаря наличию собственного производства, завод «КВТ» может полностью удовлетворить потребности электротехнического рынка в области кабельной арматуры и инструмента, оперативно предоставив продукцию европейского качества по конкурентоспособным ценам.		
		</p>	

		<p>В настоящий момент ассортимент продукции составляет свыше 4000 наименований кабельной арматуры и электромонтажного инструмента бренда «КВТ»:

		<ul>
			<li>Кабельные наконечники и гильзы;</li>
			<li>Болтовые наконечники и соединители;</li>
			<li>Изолированные наконечники, разъемы и соединители;</li>
			<li>Термоусаживаемые кабельные муфты;</li>
			<li>Термоусадочные трубки;</li>
			<li>Электромонтажный инструмент;</li>
			<li>Арматура для СИП и инструмент для монтажа СИП;</li>
			<li>Ответвительные сжимы</li>
		</ul></p>		
	</section>

	<section class="page-content">
		<p>А еще на заводе трудятся настоящие профессионалы, которые в свободное время, вдохновленные любимой работой, реализуют свои творческие способности! </p>
		<iframe  width="560" height="315"  src="https://www.youtube.com/embed/KaIwb9Yjigk"allowfullscreen></iframe>
	</section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	