<% var data = {
  title: "Продукция КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>
        <a target="_self" href="./about_us.html">О нас</a>
        <a class="active" href="#">О Калуге</a>
    </div>

	<h1>Калуга - родной город КВТ</h1>
	
	<section class="page-content">	
		<p>Ещё совсем недавно Калужская область ассоциировалась с тремя знаковыми местами: Оптина пустынь - Свято-Введенский монастырь, один из центров духовной жизни России, сама Калуга - место, где жил и работал пионер космонавтики и ракетной техники Константин Эдуардович Циолковский, и маленький провинциальный городок Таруса, раскинувшийся на живописных берегах Оки. Когда-то эти места облюбовал для себя Иван Цветаев - создатель первого Музея изящных искусств в Москве, отец поэтессы Марины Цветаевой. Он построил на высоком берегу дачу &laquo;Песочное&raquo; и каждое лето с семьёй приезжал сюда отдыхать. А спустя годы Таруса стала местом притяжения творческой интеллигенции. Здесь долгое время жили Николай Заболоцкий, Константин Паустовский, снимали дачу Белла Ахмадуллина и Борис Мессерер.</p>
		<p>Теперь Калужская область стала местом притяжения для полномасштабных производственных проектов. Время от времени в Калужскую область приезжают журналисты из Москвы и других регионов, чтобы изучить явление под названием &laquo;калужское экономическое чудо&raquo;.</p>
		<p>За последние годы Калуга стала местом притяжения для большого количества иностранных инвесторов. Здесь работают Volkswagen, Pegeot, Citroen, Mitsubishi, Volvo, еще 28 компаний производят автокомпоненты и оборудование. Но не одним автопромом жива Калужская область, здесь достaточно мощный фармацевтический кластер, представленный компаниями Novo Nordisk, Berlin Farma, AstraZeneca. Также на территории Калужской области работают производственные площадки таких известных мировых брендов, как John Deer, Lemken, Lafarge, Nestle, Continental, Fuyao Glass, Samsung, L&rsquo;Oreal, General Electric, Magna, Total, Orac - всего 95 предприятий.</p>
		<p>Главный продукт, который регион предлагает инвесторам &ndash; это размещение производств в 12 индустриальных парках. Любой из этих объектов &mdash; это полностью подготовленный земельный участок со всей необходимой инфраструктурой и коммуникациями: электричеством, газом, водой и очистными сооружениями.</p>
		<p>Сегодня Калужская область по праву гордится званием &laquo;Регион-лидер&raquo;.</p>
		<p>Калуга привлекательна и для отечественного производителя. Приятно отметить, что по объемам инвестиций и количеству рабочих мест производственные площадки КВТ не только не уступают иностранным производствам, но и в некоторых отдельных случаях превышают показатели зарубежных коллег.</p>
		<p>&nbsp;</p>		
	</section>

	<div class="media__list media-list media__list--gallery">
	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_001.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_001.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_004.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_004.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_005.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_005.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_011.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_011.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	     <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_019.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_019.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_014.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_014.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_015.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_015.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_016.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_016.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	    <figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_018.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_018.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>

	   	<figure class="media-list__item media-list__item--gallery">
	        <a class="media-list__link" href="img/kaluga/kaluga_013.jpg" title="Калуга - Родина КВТ">
	            <img class="media-list__img" src="./img/kaluga/kaluga_013.jpg" title="Калуга - Родина КВТ" alt="Калуга - Родина КВТ">
	        </a>
	    </figure>
  	</div>  
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	