<% var data = {
  title: "Торговый Дом КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<h1 class="visually-hidden">Торговый дом КВТ</h1>

	<section class="container-baner">
		<div class="main-baner">
			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/kg-vep.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/ctk4.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/mrping_nord-p.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/nb-63.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item baner">
				
					<div class="baner__picture">
						<img src="img/prod/pump_plier_180_profi.jpg">
					</div>
					<div class="baner__info">
						<div class="baner__content">
							<h2>Профессиональный инструмент для всех!</h2>
							<p>Переставные клещи ПРОФИ с рукоятками</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>
		</div>	

		<div class="baner__nav baner__nav--left nav">
            <img class="nav__img" src="img/arrow_.png" alt="Навигация влево" title="Навигация влево">
        </div>

        <div class="baner__nav baner__nav--right nav" >
            <img class="nav__img" src="img/arrow_.png" alt="Навигация вправо" title="Навигация вправо">
        </div>

		<ul class="baner__paginator paginator paginator_js"> 				
		</ul>
	</section>

	<section class="primery-info">
		<div class="page-title">
			<h2>Вы легко можете</h2>
			<div class="page-title__background"></div>
			<div class="page-title__background2"></div>
		</div>

		<ul>
			<li>Скачать печатные каталоги</li>
			<li>Скачать прайс-лист на весь ассортимент</li>
			<li>Оформить заказ он-лайн</li>
			<li>Получить консультацию специалиста</li>
		</ul>	
		
	</section>

	<section class="main-newproducts">
		<div class="page-title">
			<h2>Новинки ассортимента</h2>
			<div class="page-title__background"></div>
			<div class="page-title__background2"></div>
		</div>

		<div class="product-list">
			<div class="product-item">
				<img src="img/prod/kss-float.jpg" title="Металлорукав" alt="Металлорукав">
			</div>

			<div class="product-item">
				<img src="img/prod/sks-p_red.jpg" title="Металлорукав" alt="Металлорукав">
			</div>

			<div class="product-item">
				<img src="img/prod/nb-63.jpg" title="Металлорукав" alt="Металлорукав">
			</div>

			<div class="product-item">
				<img src="img/prod/ngra105.jpg" title="Металлорукав" alt="Металлорукав">
			</div>

			<div class="product-item">
				<img src="img/prod/screwdrivers_master_hit.jpg" title="Металлорукав" alt="Металлорукав">
			</div>

			<div class="product-item">
				<img src="img/prod/kg.jpg" title="Металлорукав" alt="Металлорукав">
			</div>
		</div>	
	</section>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>