<% var data = {
  title: "Торговый Дом КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="container-baner">
		<div class="main-baner">
			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/kg-vep.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/ctk4.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/mrping_nord-p.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/nb-63.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item baner">
				
					<div class="baner__picture">
						<img src="img/prod/pump_plier_180_profi.jpg">
					</div>
					<div class="baner__info">
						<div class="baner__content">
							<h2>Профессиональный инструмент для всех!</h2>
							<p>Переставные клещи ПРОФИ с рукоятками</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>
		</div>	

		<div class="baner__nav baner__nav--left nav">
            <img class="nav__img" src="img/arrow_.png" alt="Навигация влево" title="Навигация влево">
        </div>

        <div class="baner__nav baner__nav--right nav" >
            <img class="nav__img" src="img/arrow_.png" alt="Навигация вправо" title="Навигация вправо">
        </div>

		<ul class="baner__paginator paginator paginator_js"> 				
		</ul>


	</div>

	<h1>Торговый дом КВТ</h1>
	<h2>Торговый дом КВТ</h2>
	<h3>Торговый дом КВТ</h3>
	<h4>Торговый дом КВТ</h4>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>