<% var data = {
  title: "Торговый Дом КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<h1 class="visually-hidden">Торговый дом КВТ</h1>

	<section class="container-baner">
		<div class="main-baner">
			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/kg-vep.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/ctk4.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/mrping_nord-p.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item  baner">
					<div class="baner__picture">
						<img src="img/prod/nb-63.jpg">
					</div>

					<div class="baner__info">
						<div class="baner__content">
							<h2>Новинки наборов пресс-клещей СТК+8 и CTB+8</h2>
							<p>Пресс-клещи в прочной тканевой сумке с набором номерных матриц «КВТ»</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>

			<div class="main-baner__item baner">
				
					<div class="baner__picture">
						<img src="img/prod/pump_plier_180_profi.jpg">
					</div>
					<div class="baner__info">
						<div class="baner__content">
							<h2>Профессиональный инструмент для всех!</h2>
							<p>Переставные клещи ПРОФИ с рукоятками</p>
							<a href="/news">Подробнее</a>
						</div>

						<div class="baner__background1"></div>

						<div class="baner__background2"></div>

						<div class="baner__background3"></div>					
					</div>					
			</div>
		</div>	

		<div class="baner__nav baner__nav--left nav">
            <img class="nav__img" src="img/arrow_.png" alt="Навигация влево" title="Навигация влево">
        </div>

        <div class="baner__nav baner__nav--right nav" >
            <img class="nav__img" src="img/arrow_.png" alt="Навигация вправо" title="Навигация вправо">
        </div>

		<ul class="baner__paginator paginator paginator_js"> 				
		</ul>
	</section>

	<section class="primery-info">
		<ul class="service-list">
			<li class="service-list__item">
				<a href="#" title="Скачать каталоги">
					<img src="img/icons/catalog_gr.svg" alt="Скачать каталоги" title="Скачать каталоги">
					<p>Скачать печатные каталоги</p>
				</a>
			</li>

			<li class="service-list__item">
				<a href="#" title="Скачать прайс-лист">
					<img src="img/icons/price_gr.svg" alt="Скачать прайс-лист" title="Скачать прайс-лист">
					<p>Скачать прайс-лист</p>
				</a>	
			</li>

			<li class="service-list__item">
				<a href="#" title="Он-лайн заказ">
					<img src="img/icons/shop_gr.svg" alt="Он-лайн заказ" title="Он-лайн заказ">
					<p>Оформить заказ он-лайн</p>
				</a>
			</li>

			<li class="service-list__item">
				<a href="#" title="О нас">
					<img src="img/icons/aboutus_gr.svg" alt="О нас" title="О нас">
					<p>О нас</p>
				</a>
			</li>
		</ul>		
	</section>

	<section class="main-newproducts">
		<div class="page-title">
			<h2>Новинки ассортимента</h2>
			<div class="page-title__background"></div>
			<div class="page-title__background2"></div>
		</div>

		<div class="product-list">
			<div class="product-item">
				<a href="#" title="Ссылка на продукт">
					<div class="icon-soon">Скоро</div>
					<div class="icon-feature">Плавающая</div>
					<img src="img/prod/kss-float.jpg" title="Металлорукав" alt="Металлорукав">
					<p class="product-item__type">Тип: КСС "Float"</p>
					<p class="product-item__description">Кабельные стяжки плавающие</p>
				</a>	
			</div>

			<div class="product-item">
				<a href="#" title="Ссылка на продукт">
					<div class="icon-new">Новинка</div>
					<div class="icon-feature">Красная</div>
					<img src="img/prod/sks-p_red.jpg" title="Металлорукав" alt="Металлорукав">
					<p class="product-item__type">Тип: СКС-П (316)</p>
					<p class="product-item__description">Стяжки крепежные из нержавеющей стали AISI 316 с полимерным покрытием</p>
				</a>	
			</div>

			<div class="product-item">
				<a href="#" title="Ссылка на продукт">
					<div class="icon-new">Новинка</div>
					<div class="icon-feature">Красная</div>
					<img src="img/prod/nb-63.jpg" title="Металлорукав" alt="Металлорукав">
					<p class="product-item__type">Тип: СКС-П (316)</p>
					<p class="product-item__description">Стяжки крепежные из нержавеющей стали AISI 316 с полимерным покрытием</p>
				</a>	
			</div>

			<div class="product-item">
				<a href="#" title="Ссылка на продукт">
					<div class="icon-new">Новинка</div>
					<div class="icon-feature">Красная</div>
					<img src="img/prod/ngra105.jpg" title="Металлорукав" alt="Металлорукав">
					<p class="product-item__type">Тип: СКС-П (316)</p>
					<p class="product-item__description">Стяжки крепежные из нержавеющей стали AISI 316 с полимерным покрытием</p>
				</a>	
			</div>

			<div class="product-item">
				<a href="#" title="Ссылка на продукт">
					<div class="icon-new">Новинка</div>
					<div class="icon-feature">Красная</div>
					<img src="img/prod/screwdrivers_master_hit.jpg" title="Металлорукав" alt="Металлорукав">
					<p class="product-item__type">Тип: СКС-П (316)</p>
					<p class="product-item__description">Стяжки крепежные из нержавеющей стали AISI 316 с полимерным покрытием</p>
				</a>	
			</div>

			<div class="product-item">
				<a href="#" title="Ссылка на продукт">
					<div class="icon-new">Новинка</div>
					<div class="icon-feature">Красная</div>
					<img src="img/prod/kg.jpg" title="Металлорукав" alt="Металлорукав">
					<p class="product-item__type">Тип: СКС-П (316)</p>
					<p class="product-item__description">Стяжки крепежные из нержавеющей стали AISI 316 с полимерным покрытием</p>
				</a>	
			</div>
		</div>	
	</section>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>