<% var data = {
  title: "Кабельные наконечники КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a target="_self" href="./production.html">Продукция</a>

        <a target="_self" href="./cable_lugs.html">Кабельные наконечники</a>

        <a target="_self" href="./cu_lugs.html">Медные кабельные наконечники и гильзы</a>

        <a class="active" href="./cu_lugs.html">ТМЛс</a>
    </div>

	<h1>Наконечники луженые под опрессовку стандарт «КВТ»</h1>
  

  <section class="product-info">
      <div class="product-info__description">
          <ul class="product-info__status">
              <li>
                  <div class="icon-soon">Скоро</div>
              </li>

              <li>
                  <div class="icon-feature">Стандарт КВТ</div>
              </li>

              <li>
                  <div class="icon-hit">Хит продаж</div>
              </li>
          </ul>
            
          <h2>Тип: ТМЛс</h2>

          <ul class="product-info__icons">
              <li class="info-icons__item">
                <svg id="hexagonal"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape"></use></svg>
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/bolt-disp.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/hex-external.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/square-blade.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/euro-series.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/chamfer-enlarged.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
          </ul>

          <div class="product-info__propeties">
              <ul >
                  <li >Предназначены для оконцевания опрессовкой медных кабелей и проводов</li>
                  <li >Материал: рафинированная медь марки М1</li>
                  <li >Покрытие: олово-висмутовое электролитическое лужение, обеспечивающее защиту от коррозии и гарантирующее высокое качество соединения при любых погодно-климатических условиях
                      <ul>
                          <li>Материал: рафинированная медь марки М1
                              <ul>
                                <li>Материал: рафинированная медь марки М1</li>
                                <li>Материал: рафинированная медь марки М1</li>
                                <li>Материал: рафинированная медь марки М1</li>
                                <li>Материал: рафинированная медь марки М1</li>
                            </ul>
                          </li>
                          <li>Материал: рафинированная медь марки М1</li>
                          <li>Материал: рафинированная медь марки М1</li>
                          <li>Материал: рафинированная медь марки М1</li>
                      </ul>
                  </li>
                  <li >Рабочее напряжение: до 35 кВ</li>
                  <li >Стандарт DIN 46235 — самый известный и авторитетный мировой стандарт на медные кабельные наконечники</li>
                  <li >30 наиболее востребованных типоразмеров от 6 до 625 мм²</li>
                  <li >На трубной части наконечников нанесена двухдорожечная разметка, определяющая местоположение и количество опрессовок в зависимости от ширины используемых матриц</li>
              </ul>  
          </div>

          <div class="product-info__svg">
              <img src="https://sketch.kvt.su/images/svg/connectors/lugs_tmls.svg" title="SVG draw" alt="SVG draw">
          </div>

          <div class="product-info__docs">
              <p><a href="/">Рекомендации по опрессовке силовых наконечников</a></p>
              <p><a href="/">Рекомендации по опрессовке силовых наконечников</a></p>
          </div>
      </div>

      <div class="product-info__media media">
          <a class="media-3d__link" href="https://lib.net.ru/360/pmr7003" target="_balnk" title="360 \00B0">
              <div class="media-3d__icon"></div>
          </a>
          <div class="media__list media-list">
              <figure class="media-list__item media-list__main">
                  <a class="media-list__link" href="img/prod/tmls.jpg" title="ТМЛс">
                      <img class="media-list__img" src="img/prod/tmls.jpg" title="ТМЛс" alt="ТМЛс">
                  </a>
              </figure>

              <figure class="media-list__item">
                  <a class="media-list__link" href="img/prod/tml2.jpg" title="ТМЛ2">
                      <img class="media-list__img" src="img/prod/tml2.jpg" title="ТМЛ2" alt="ТМЛ2">
                  </a>
              </figure>

              <figure class="media-list__item">
                  <a class="media-list__link" href="img/prod/tmls.jpg" title="ТМЛс">
                      <img class="media-list__img" src="img/prod/tmls.jpg" title="ТМЛс" alt="ТМЛс">
                  </a>
              </figure>

              <figure class="media-list__item">
                  <a class="media-list__link" href="img/prod/tmldin.jpg" title="ТМЛdin">
                      <img class="media-list__img" src="img/prod/tmldin.jpg" title="ТМЛdin" alt="ТМЛdin">
                  </a>
              </figure>
          </div>  
      </div>
  </section>

  <section class="product-extra extra">
      <ul class="extra__captions captions">
          <li class="captions__item "><p>Товарные позиции</p></li>
          <li class="captions__item"><p>Размерные характеристики</p></li>
          <li class="captions__item"><p>Видеообзор</p></li>
          <li class="captions__item"><p>Видео по теме</p></li>
          <li class="captions__item"><p>Описание</p></li>
          <li class="captions__item"><p>Сертификаты качества</p></li>
          <li class="captions__item"><p>Документация на продукцию</p></li>
          <li class="captions__item"><p>F.A.Q.</p></li>
          <li class="captions__item"><p>Сопутствующие товары</p></li>
      </ul> 
      <div class="extra__content extra-content">
          <div class="extra-content__item">
              <table>
                  <tr>
                    <th>Наименование</th>
                    <th width="10%">Тип упаковки</th>
                    <th>кол-во</th>
                    <th>ед</th>
                    <th>Арт</th>
                    <th>Цена кр опт</th>
                    <th>Цена опт</th>
                    <th>Цена</th>
                  </tr>
                  <tr>
                    <td>
                      <a href="./tmls15-4.html">ТМЛс 1,5-4</a>
                    </td>
                    <td>Картонная коробка очень больших размеров</td>
                    <td>М4</td>
                    <td>4.3</td>
                    <td>7</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 1.5-5</a></td>
                    <td>0.34 -1.5</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>7</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 2.5-5</a></td>
                    <td>1.5 - 2.5</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>8.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 2.5-6</a></td>
                    <td>1.5 - 2.5</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 4-5</a></td>
                    <td>2.5 - 4.0</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>8.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 6-5</a></td>
                    <td>2.5 - 4.0</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 6&ndash;5</a></td>
                    <td>4.0 - 6</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>8.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 6&ndash;6</a></td>
                    <td>4.0 - 6</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 10&ndash;6</a></td>
                    <td>10</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 10&ndash;8</a></td>
                    <td>10</td>
                    <td>М8</td>
                    <td>8.4</td>
                    <td>11.5</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 16&ndash;6</a></td>
                    <td>16</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>12.0</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 16&ndash;8</a></td>
                    <td>16</td>
                    <td>М8</td>
                    <td>8.4</td>
                    <td>12.0</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 25&ndash;6</a></td>
                    <td>25</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>14.0</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 25&ndash;8</a></td>
                    <td>25</td>
                    <td>М8</td>
                    <td>8.4</td>
                    <td>14.0</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 25-10</a></td>
                    <td>25</td>
                    <td>М10</td>
                    <td>10.5</td>
                    <td>16.0</td>
                    <td class="price-cell">348</td>
                    <td class="price-cell">367</td>
                    <td class="price-cell">450</td>
                  </tr>
                  
              </table>
              <p class="extra-content__total">Всего позиций: 15</p>
          </div>

          <div class="extra-content__item">
              <table>
                  <tr>
                    <th>Наименование</th>
                    <th>Сечение (мм<sup>2</sup>)</th>
                    <th>Винт</th>
                    <th>D(мм)</th>
                    <th>B(мм)</th>
                    <th>L(мм)</th>
                    <th>d(мм)</th>
                    <th>&nbsp;d₁(мм)</th>
                  </tr>
                  <tr>
                    <td>
                      <a href="./tmls15-4.html">ТМЛс 1,5-4</a>
                    </td>
                    <td>0.34 -1.5</td>
                    <td>М4</td>
                    <td>4.3</td>
                    <td>7</td>
                    <td>18.0</td>
                    <td>3.5</td>
                    <td>1.7</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 1.5-5</a></td>
                    <td>0.34 -1.5</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>7</td>
                    <td>18.5</td>
                    <td>3.5</td>
                    <td>1.7</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 2.5-5</a></td>
                    <td>1.5 - 2.5</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>8.5</td>
                    <td>19.0</td>
                    <td>3.9</td>
                    <td>2.3</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 2.5-6</a></td>
                    <td>1.5 - 2.5</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td>22.0</td>
                    <td>3.9</td>
                    <td>2.3</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 4-5</a></td>
                    <td>2.5 - 4.0</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>8.5</td>
                    <td>21.5</td>
                    <td>4.4</td>
                    <td>2.8</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 6-5</a></td>
                    <td>2.5 - 4.0</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td>24.0</td>
                    <td>4.4</td>
                    <td>2.8</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 6&ndash;5</a></td>
                    <td>4.0 - 6</td>
                    <td>М5</td>
                    <td>5.3</td>
                    <td>8.5</td>
                    <td>25.0</td>
                    <td>5.1</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 6&ndash;6</a></td>
                    <td>4.0 - 6</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td>27.0</td>
                    <td>5.1</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 10&ndash;6</a></td>
                    <td>10</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>9.5</td>
                    <td>29.0</td>
                    <td>6.3</td>
                    <td>4.5</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 10&ndash;8</a></td>
                    <td>10</td>
                    <td>М8</td>
                    <td>8.4</td>
                    <td>11.5</td>
                    <td>33.0</td>
                    <td>6.3</td>
                    <td>4.5</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 16&ndash;6</a></td>
                    <td>16</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>12.0</td>
                    <td>33.0</td>
                    <td>7.9</td>
                    <td>5.5</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 16&ndash;8</a></td>
                    <td>16</td>
                    <td>М8</td>
                    <td>8.4</td>
                    <td>12.0</td>
                    <td>37.0</td>
                    <td>7.9</td>
                    <td>5.5</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 25&ndash;6</a></td>
                    <td>25</td>
                    <td>М6</td>
                    <td>6.4</td>
                    <td>14.0</td>
                    <td>37.0</td>
                    <td>9.5</td>
                    <td>6.9</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 25&ndash;8</a></td>
                    <td>25</td>
                    <td>М8</td>
                    <td>8.4</td>
                    <td>14.0</td>
                    <td>41.0</td>
                    <td>9.5</td>
                    <td>6.9</td>
                  </tr>
                  <tr>
                    <td><a href="./tmls15-4.html">ТМЛс 25-10</a></td>
                    <td>25</td>
                    <td>М10</td>
                    <td>10.5</td>
                    <td>16.0</td>
                    <td>45.0</td>
                    <td>9.7</td>
                    <td>6.9</td>
                  </tr>
              </table>
              <p class="extra-content__total">Всего позиций: 15</p>
          </div>

          <div class="extra-content__item">
              <div class="extra-content__video">
                  <iframe  width="560" height="315"  src="https://www.youtube.com/embed/SRz3Mpl1N-w" allowfullscreen></iframe>
              </div>
          </div>

          <div class="extra-content__item ">
              <div class="extra-content__list list-video">
                  <a class="list-video__popup" href="https://www.youtube.com/embed/B0-qIkvJL80">
                      <img src="https://img.youtube.com/vi/B0-qIkvJL80/mqdefault.jpg">

                      <span>Опрессовка медного наконечника шестигранной матрицей</span>
                  </a>

                  <a class="list-video__popup" href="https://www.youtube.com/embed/57T224H6k3w">
                      <img src="https://img.youtube.com/vi/57T224H6k3w/mqdefault.jpg">

                      <span>Последовательность опрессовки наконечников</span>
                  </a>
              </div>
          </div>    

          <div class="extra-content__item">
              <p>
                  Клеевые трубки ТТК 3:1 – высококачественный и популярный вид термоусадочных клеевых трубок от «КВТ» с коэффициентом усадки 3:1 для изоляции и герметизации электрических соединений.                  
              </p>
          </div>

          <div class="extra-content__item">
              <a href="https://lib.net.ru/flipping/?pub=sertificates/letter-lugs.pdf" title="Отказное" target="_blank">Отказное письмо: кабельные наконечники и гильзы на напряжение до 35 кВ</a>
          </div>
          
          <div class="extra-content__item">
              <a href="http://lib.net.ru/files/passports/psp-jacks-dgpg.pdf" title="Паспорт" target="_blank">Паспорт продукции</a>
          </div>

          <div class="extra-content__item">
              <div class="extra-content__accordion accordion">
                  <div class="accordion__item">
                      <span class="accordion__quest">Вопрос, на который надо получить ответ</span>
                      <div class="accordion__answer">
                          <p>Ответ, на вопрос, на который хотелось получить такой большой и красивый ответ</p>
                      </div> 
                  </div> 

                  <div class="accordion__item">
                      <span class="accordion__quest">Вопрос, на который надо получить ответ</span>
                      <div class="accordion__answer">
                          <p>Ответ, на вопрос, на который хотелось получить такой большой и красивый ответ</p>
                      </div> 
                  </div>

                  <div class="accordion__item">
                      <span class="accordion__quest">Вопрос, на который надо получить ответ</span>
                      <div class="accordion__answer">
                          <p>Ответ, на вопрос, на который хотелось получить такой большой и красивый ответ</p>
                      </div> 
                  </div>

                  <div class="accordion__item">
                      <span class="accordion__quest">Вопрос, на который надо получить ответ</span>
                      <div class="accordion__answer">
                          <p>Ответ, на вопрос, на который хотелось получить такой большой и красивый ответ</p>
                      </div> 
                  </div>
              </div>  
          </div>

          <div class="extra-content__item">
              <div class="product-list">
                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <div class="icon-feature">Стандарт КВТ</div>
                      <div class="icon-hit">Хит продаж</div>
                      <img src="img/prod/tmls.jpg" title="ТМЛс" alt="ТМЛс">
                      <p class="product-item__type">Тип: ТМЛс</p>
                      <p class="product-item__description">Наконечники луженые под опрессовку стандарт «КВТ»</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <img src="img/prod/tml.jpg" title="ТМЛ" alt="ТМЛ">
                      <p class="product-item__type">Тип: ТМЛ</p>
                      <p class="product-item__description">Наконечники луженые под опрессовку по ГОСТ 7386-80</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <img src="img/prod/tm.jpg" title="ТМ" alt="ТМ">
                      <p class="product-item__type">Тип: ТМ</p>
                      <p class="product-item__description">Наконечники медные под опрессовку</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <div class="icon-feature">Стандарт DIN</div>
                      <div class="icon-hit">Хит продаж</div>
                      <img src="img/prod/tmldin.jpg" title="ТМЛс" alt="ТМЛс">
                      <p class="product-item__type">Тип: ТМЛ(DIN)</p>
                      <p class="product-item__description">Наконечники луженые под опрессовку стандарт DIN 46235</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <img src="img/prod/tmlu.jpg" title="ТМЛ-У" alt="ТМЛ-У">
                      <p class="product-item__type">Тип: ТМЛ-У</p>
                      <p class="product-item__description">Наконечники медные кабельные с узкой лопаткой</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <img src="img/prod/pm.jpg" title="ПМ" alt="ПМ">
                      <p class="product-item__type">Тип: ПМ</p>
                      <p class="product-item__description">Наконечники кабельные медные под пайку</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <img src="img/prod/nsp.jpg" title="НШП" alt="НШП">
                      <p class="product-item__type">Тип: НШП</p>
                      <p class="product-item__description">Наконечники медные луженые штифтовые</p>
                    </a>  
                  </div>

                  <div class="product-item">
                    <a href="#" title="Ссылка на продукт">
                      <img src="img/prod/tmls.jpg" title="ТМЛ(2)" alt="ТМЛ(2)">
                      <p class="product-item__type">Тип: ТМЛ(2)</p>
                      <p class="product-item__description">Медные наконечники под опрессовку с двумя крепежными отверстиями</p>
                    </a>  
                  </div>

                </div>
          </div>
      </div>
      
  </section>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	