<% var data = {
  title: "Продукция КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a class="active" href="#">Продукция</a>
    </div>

	<h1>Кабельные наконечники, муфты, термоусадка, электромонтажный инструмент, арматура СИП</h1>

	<p>Более пятнадцати лет наше предприятие занимается производством кабельной арматуры и электромонтажного инструмента. Наше кредо — производить с западным качеством, сохраняя отечественную ценовую доступность. В настоящий момент ассортимент продукции составляет свыше 4000 наименований кабельной арматуры и электромонтажного инструмента бренда «КВТ». Актуальную информацию о продукции завода вы также найдете в печатных версиях каталогов.<p>

	<div class="product-list">
		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_lugs.jpg" title="Кабельные наконечники" alt="Кабельные наконечники">
				<p class="product-item__type">Кабельные наконечники</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self"title="Ссылка на продукт">
				<img src="img/node_icons/icon_boltlugs.jpg" title="Болтовые соединители и наконечники" alt="Болтовые соединители и наконечники">
				<p class="product-item__type">Болтовые соединители и наконечники</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_insulugs.jpg" title="Изолированные наконечники, разъемы, гильзы. Наконечники с изолированным фланцем" alt="Изолированные наконечники, разъемы, гильзы. Наконечники с изолированным фланцем">
				<p class="product-item__type">Изолированные наконечники, разъемы, гильзы. Наконечники с изолированным фланцем</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_econnectors.jpg" title="Втулочные наконечники НШВИ" alt="Втулочные наконечники НШВИ">
				<p class="product-item__type">Втулочные наконечники НШВИ</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_wirecups.jpg" title="Изолированные зажимы, клеммы Wago" alt="Изолированные зажимы, клеммы Wago">
				<p class="product-item__type">Изолированные зажимы, клеммы Wago</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_glw.jpg" title="Оборудование и наконечники «GLW»" alt="Оборудование и наконечники «GLW»">
				<p class="product-item__type">Оборудование и наконечники «GLW»</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_cablekits.jpg" title="Кабельные муфты «КВТ»" alt="Кабельные муфты «КВТ»">
				<p class="product-item__type">Кабельные муфты «КВТ»</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_muffscomponentry.jpg" title="Компоненты кабельных муфт" alt="Компоненты кабельных муфт">
				<p class="product-item__type">Компоненты кабельных муфт</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_hskits.jpg" title="Термоусадочные трубки общего назначения" alt="Термоусадочные трубки общего назначения">
				<p class="product-item__type">Термоусадочные трубки общего назначения</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_gluetube.jpg" title="Клеевые термоусадочные трубки" alt="Клеевые термоусадочные трубки">
				<p class="product-item__type">Клеевые термоусадочные трубки)</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_hstubeset.jpg" title="Наборы термоусадочных трубок" alt="Наборы термоусадочных трубок">
				<p class="product-item__type">Наборы термоусадочных трубок</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/icon_highvoltagetube.jpg" title="Высоковольтные термоусадочные трубки" alt="Высоковольтные термоусадочные трубки">
				<p class="product-item__type">Высоковольтные термоусадочные трубки</p>
			</a>	
		</div>

		<div class="product-item">
			<a href="./cable_lugs.html" taget="_self" taget="_self" title="Ссылка на продукт">
				<img src="img/node_icons/ico_special_tubes.jpg" title="Термоусадочные трубки специального назначения" alt="Термоусадочные трубки специального назначения">
				<p class="product-item__type">Термоусадочные трубки специального назначения</p>
			</a>	
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	