<% var data = {
  title: "Кабельные наконечники КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a target="_self" href="./production.html">Продукция</a>

        <a target="_self" href="./cable_lugs.html">Кабельные наконечники</a>

        <a target="_self" href="./cu_lugs.html">Медные кабельные наконечники и гильзы</a>

        <a class="active" href="./cu_lugs.html">ТМЛс</a>
    </div>

	<h1>Наконечники луженые под опрессовку стандарт «КВТ»</h1>
  

  <section class="product-info">
      <div class="product-info__description">
          <ul class="product-info__status">
              <li>
                  <div class="icon-soon">Скоро</div>
              </li>

              <li>
                  <div class="icon-feature">Стандарт КВТ</div>
              </li>

              <li>
                  <div class="icon-hit">Хит продаж</div>
              </li>
          </ul>
            
          <h2>Тип: ТМЛс</h2>

          <ul class="product-info__icons">
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/bolt-0-deg.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/bolt-disp.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/hex-external.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/square-blade.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/euro-series.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
              <li class="info-icons__item">
                <img src="https://res.kvt.su/icons/svg/symbols/bolt/chamfer-enlarged.svg" title="Что значит эта иконка" alt="Что значит эта иконка">
              </li>
          </ul>

          <ul class="product-info__propeties">
              <li class="product-info__item">Предназначены для оконцевания опрессовкой медных кабелей и проводов</li>
              <li class="product-info__item">Материал: рафинированная медь марки М1</li>
              <li class="product-info__item">Покрытие: олово-висмутовое электролитическое лужение, обеспечивающее защиту от коррозии и гарантирующее высокое качество соединения при любых погодно-климатических условиях
                  <ul>
                      <li>Материал: рафинированная медь марки М1
                          <ul>
                            <li>Материал: рафинированная медь марки М1</li>
                            <li>Материал: рафинированная медь марки М1</li>
                            <li>Материал: рафинированная медь марки М1</li>
                            <li>Материал: рафинированная медь марки М1</li>
                        </ul>
                      </li>
                      <li>Материал: рафинированная медь марки М1</li>
                      <li>Материал: рафинированная медь марки М1</li>
                      <li>Материал: рафинированная медь марки М1</li>
                  </ul>
              </li>
              <li class="product-info__item">Рабочее напряжение: до 35 кВ</li>
              <li class="product-info__item">Стандарт DIN 46235 — самый известный и авторитетный мировой стандарт на медные кабельные наконечники</li>
              <li class="product-info__item">30 наиболее востребованных типоразмеров от 6 до 625 мм²</li>
              <li class="product-info__item">На трубной части наконечников нанесена двухдорожечная разметка, определяющая местоположение и количество опрессовок в зависимости от ширины используемых матриц</li>
          </ul>  

          <div class="product-info__svg">
              <img src="https://sketch.kvt.su/images/svg/connectors/lugs_tmls.svg" title="SVG draw" alt="SVG draw">
          </div>

      </div>

      <div class="product-info__media media">
          <a class="media-3d__link" href="https://lib.net.ru/360/pmr7003" target="_balnk" title="3D">
              <div class="media-3d__icon"></div>
          </a>
          <ul class="media__list media-list">
              <li class="media-list__item media-list__main">
                  <a class="media-list__link" href="img/prod/tmls.jpg" title="ТМЛс">
                      <img class="media-list__img" src="img/prod/tmls.jpg" title="ТМЛс" alt="ТМЛс">
                  </a>
              </li>

              <li class="media-list__item">
                  <a class="media-list__link" href="img/prod/study_krasnodar_070919_01.jpg" title="ТМ">
                      <img class="media-list__img" src="img/prod/study_krasnodar_070919_01.jpg" title="ТМ" alt="ТМ">
                  </a>
              </li>

              <li class="media-list__item">
                  <a class="media-list__link" href="img/prod/tml2.jpg" title="ТМЛ2">
                      <img class="media-list__img" src="img/prod/tml2.jpg" title="ТМЛ2" alt="ТМЛ2">
                  </a>
              </li>

              <li class="media-list__item">
                  <a class="media-list__link" href="img/prod/tmls.jpg" title="ТМЛс">
                      <img class="media-list__img" src="img/prod/tmls.jpg" title="ТМЛс" alt="ТМЛс">
                  </a>
              </li>

              <li class="media-list__item">
                  <a class="media-list__link" href="img/prod/tmldin.jpg" title="ТМЛdin">
                      <img class="media-list__img" src="img/prod/tmldin.jpg" title="ТМЛdin" alt="ТМЛdin">
                  </a>
              </li>
          </ul>  
      </div>
  </section>

  <section class="product-extra extra">
      <ul class="extra__captions captions">
          <li class="captions__item">Товарные позиции</li>
          <li class="captions__item">Размерные характеристики</li>
          <li class="captions__item">Видеообзор</li>
          <li class="captions__item">Видео по теме</li>
          <li class="captions__item">Сертификаты качества</li>
          <li class="captions__item">Документация на продукцию</li>
          <li class="captions__item">F.A.Q.</li>
          <li class="captions__item">Сопутствующие товары</li>
      </ul> 
  </section>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	