<% var data = {
  title: "Кабельные наконечники КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a target="_self" href="./production.html">Продукция</a>

        <a target="_self" href="./cable_lugs.html">Кабельные наконечники</a>

        <a target="_self" href="./cu_lugs.html">Медные кабельные наконечники и гильзы</a>

        <a target="_self" href="./product_item.html">ТМЛс</a>

        <a class="active" href="./cu_lugs.html">ТМЛс 1,5-4</a>
    </div>

    <h1>Наконечник луженый под опрессовку стандарт «КВТ» ТМЛс 1,5-4</h1>

    <section class="product-card-info card">
        <div class="card__item">
            <img class="media-list__img" src="img/prod/tmls.jpg" title="ТМЛс" alt="ТМЛс">
        </div>

        <div class="card__item">
            <h2 class="card__subtitle">Размерные характеристики</h2>
            <table class="table-size">
                <tr>
                  <th>D(мм)</th>
                  <th>B(мм)</th>
                  <th>L(мм)</th>
                  <th>d(мм)</th>
                  <th>&nbsp;d₁(мм)</th>
                </tr>
                <tr>
                  <td>4.3</td>
                  <td>7</td>
                  <td>18.0</td>
                  <td>3.5</td>
                  <td>1.7</td>
                </tr>
            </table> 
            <div class="product-info__svg">
                <img src="https://sketch.kvt.su/images/svg/connectors/lugs_tmls.svg" title="SVG draw" alt="SVG draw">
            </div>
        </div>

        <div class="card__item">
            <h2 class="card__subtitle">Цены</h2>
            <table class="table-price">
                <tr>
                    <td>SKU</td>
                    <td>76543</td>
                </tr>
                
                <tr>
                    <td>Кратность</td>    
                    <td>100</td>
                </tr>
                
                <tr>
                    <td>ед</td>    
                    <td>шт</td>
                </tr>    

                <tr >
                    <td>цена кр опт</td>    
                    <td class="price-cell">455</td>
                </tr>

                <tr>
                    <td>цена опт</td>    
                    <td class="price-cell">455</td>
                </tr>

                <tr>
                    <td>цена м опт</td>    
                    <td class="price-cell">455</td>
                </tr>
                    
                <tr>
                    <td>код ТКВЭД</td>    
                    <td>6543</td>
                </tr>    
            </table>
        </div>

        <div class="card__item">
            <h2 class="card__subtitle">Основные свойства</h2>
            <ul class="card__list card-list">
                <li class="card-list__item card-field">
                    <span class="card-field__title">Кодовое наименование/ Обозначение по стандарту: </span> 
                    <span class="card-field__content">ТМЛс 1.5–4</span>
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Наименование текстовое расширенное:</span> 
                    <span class="card-field__content">Наконечник кабельный медный луженый стандарта «КВТ»</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Назначение, применение:</span> 
                    <span class="card-field__content">Оконцевание опрессовкой медных кабелей и проводов сечением до 1.5 мм²</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Код товара (артикул):</span>  
                    <span class="card-field__content">78595</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Бренд:</span>
                    <span class="card-field__content">
                        <ul>
                            <li>КВТ</li>
                        </ul> 
                    </span>
                </li>       
                <li class="card-list__item card-field">
                    <span class="card-field__title">класс ETIM:</span> 
                    <span class="card-field__content">EC001050</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">код РАЭК:</span> 
                    <span class="card-field__content">1545360</span> 
                </li>
            </ul>  
        </div> 

        <div class="card__item">
            <h2 class="card__subtitle">Технические характеристики</h2>
            <ul class="card__list card-list">
                <li class="card-list__item card-field">
                    <span class="card-field__title">Тип коннектора:</span> 
                    <span class="card-field__content">наконечник кольцевой</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Рабочее напряжение, до (кВ):</span> 
                    <span class="card-field__content">35</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Материал жилы:</span> 
                    <span class="card-field__content">медь</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Сечение жилы, мм²:</span> 
                    <span class="card-field__content">
                        <ul>
                            <li>0.34</li>
                            <li>0.5</li>
                            <li>0.75</li>
                            <li>1.0</li>
                            <li>1.5</li>
                        </ul>
                    </span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Класс гибкости жилы:</span> 
                    <span class="card-field__content">
                        <ul>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Материал контактной части:</span> 
                    <span class="card-field__content">
                        медь
                    </span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Покрытие контактной части:</span> 
                    <span class="card-field__content">
                        гальваническое лужение
                    </span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Размер крепёжного болта:</span> 
                    <span class="card-field__content">
                        М4
                    </span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Технология монтажа:</span> 
                    <span class="card-field__content">
                        опрессовка
                    </span> 
                </li>
            </ul>
        </div>

        <div class="card__item">
            <h2 class="card__subtitle">Логистические свойства</h2>
            <ul class="card__list card-list">
                <li class="card-list__item card-field">
                    <span class="card-field__title">Единица измерения:</span> 
                    <span class="card-field__content">шт</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Вес нетто единицы товара, кг:</span> 
                    <span class="card-field__content">0.00086</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Длина единицы товара (см):</span> 
                    <span class="card-field__content">18</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Ширина единицы товара (см):</span> 
                    <span class="card-field__content">7</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Высота единицы товара (см):</span> 
                    <span class="card-field__content">3.5</span> 
                </li>
            </ul>    
        </div>
      
        <div class="card__item">
            <h2 class="card__subtitle">Потребительская упаковка</h2>
            <ul class="card__list card-list">
                <li class="card-list__item card-field">
                    <span class="card-field__title">Количество в потребительской упаковке:</span> 
                    <span class="card-field__content">100</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Тип потребительской упаковки:</span> 
                    <span class="card-field__content">п/э пакет</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Штрих-код EAN-13 потребительской упаковки:</span> 
                    <span class="card-field__content "> 
                   <!--  <svg class="barcode"
                        jsbarcode-format="ITF14"
                        jsbarcode-value="14630019122115"
                        jsbarcode-textmargin="0"
                        jsbarcode-fontoptions="bold">
                    </svg> -->
                        <svg class="barcode"
                            jsbarcode-format="EAN13"
                            jsbarcode-value="4630019122101"
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold">
                        </svg>
                    </span>
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Длина потребительской упаковки, см:</span> 
                    <span class="card-field__content">9</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Ширина потребительской упаковки, см::</span> 
                    <span class="card-field__content">8</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Высота потребительской упаковки, см:</span> 
                    <span class="card-field__content">1</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Вес брутто потребительской упаковки, кг:</span> 
                    <span class="card-field__content">0.09</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Объём потребительской упаковки, куб.м:</span> 
                    <span class="card-field__content">0</span> 
                </li>
            </ul>    
        </div>

        <div class="card__item">
            <h2 class="card__subtitle">Промежуточная упаковка</h2>
            <ul class="card__list card-list">
                <li class="card-list__item card-field">
                    <span class="card-field__title">Количество в потребительской упаковке:</span> 
                    <span class="card-field__content">100</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Тип потребительской упаковки:</span> 
                    <span class="card-field__content">п/э пакет</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Штрих-код EAN-13 потребительской упаковки:</span> 
                    <span class="card-field__content "> 
                   <!--  <svg class="barcode"
                        jsbarcode-format="ITF14"
                        jsbarcode-value="14630019122115"
                        jsbarcode-textmargin="0"
                        jsbarcode-fontoptions="bold">
                    </svg> -->
                        <svg class="barcode"
                            jsbarcode-format="EAN13"
                            jsbarcode-value="4680430018453"
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold">
                        </svg>
                    </span>
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Длина потребительской упаковки, см:</span> 
                    <span class="card-field__content">9</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Ширина потребительской упаковки, см::</span> 
                    <span class="card-field__content">8</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Высота потребительской упаковки, см:</span> 
                    <span class="card-field__content">1</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Вес брутто потребительской упаковки, кг:</span> 
                    <span class="card-field__content">0.09</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Объём потребительской упаковки, куб.м:</span> 
                    <span class="card-field__content">0</span> 
                </li>
            </ul>    
        </div>

        <div class="card__item">
            <h2 class="card__subtitle">Транспортная упаковка</h2>
             <ul class="card__list card-list">
                <li class="card-list__item card-field">
                    <span class="card-field__title">Количество в потребительской упаковке:</span> 
                    <span class="card-field__content">100</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Тип потребительской упаковки:</span> 
                    <span class="card-field__content">п/э пакет</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Штрих-код EAN-13 потребительской упаковки:</span> 
                    <span class="card-field__content "> 
                        <svg class="barcode"
                            jsbarcode-format="ITF14"
                            jsbarcode-value="14680430018450"
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold">
                        </svg>
                    </span>
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Длина потребительской упаковки, см:</span> 
                    <span class="card-field__content">9</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Ширина потребительской упаковки, см::</span> 
                    <span class="card-field__content">8</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Высота потребительской упаковки, см:</span> 
                    <span class="card-field__content">1</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Вес брутто потребительской упаковки, кг:</span> 
                    <span class="card-field__content">0.09</span> 
                </li>
                <li class="card-list__item card-field">
                    <span class="card-field__title">Объём потребительской упаковки, куб.м:</span> 
                    <span class="card-field__content">0</span> 
                </li>
            </ul>
        </div>
    </section> 

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	