<% var data = {
  title: "Завод КВТ",
  author: "Торговый Дом КВТ"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="breadcrumbs">
        <a target="_self" href="./index.html">Главная</a>

        <a class="active" href="#">Контакты</a>
    </div>

	<h1>Учебный центр</h1>

	<p>Учебно-методический центр КВТ это структурное подразделение Торгового Дома КВТ, созданное в 2015 году. Вдохновителями будущего коллектива стали опытные сотрудники отдела продаж Торгового Дома КВТ и технические специалисты Электротехнического завода КВТ.</p>

	<section>
		<div class="page-title">
			<a>
				<h2>Направления учебной деятельности</h2>
			</a>
			<div class="page-title__background"></div>
			<div class="page-title__background2"></div>
		</div>

		<ul class="description__list">
			<li class="description__item">
				Проведение выездных обучающих семинаров, вебинаров, а также мероприятий на территории учебного центра для сотрудников компаний-партнеров по продукции КВТ
			</li>
			<li class="description__item">
				Обучение правилам и культуре монтажа с использованием инструмента КВТ
			</li>
			<li class="description__item">
				Выработка рекомендаций по модификации и улучшению потребительских свойств продукции КВТ
			</li>
			<li class="description__item">
				Проведение мастер-классов и консультаций по продукции в рамках электротехнических выставок и форумов
			</li>
			<li class="description__item">Составление дидактических пособий и обучающих материалов по продукции КВТ</li>
			<li class="description__item">Обучение по эксплуатации и ремонту инструмента</li>
			<li class="description__item">Внесение изменений в паспорта и инструкции на продукцию КВТ</li>
			<li class="description__item">Обучающие видео на канале YouTube</li>
		</ul>		
	</section>

	<section>
		<div class="page-title">
			<a>
				<h2>Преподаватели Учебного центра</h2>
			</a>
			<div class="page-title__background"></div>
			<div class="page-title__background2"></div>
		</div>

		<div class="contacts-list contacts">
			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/gudkov.jpg" alt="Кузнецов Игорь" title="Кузнецов Игорь">
				<span class="contacts__name">Гудков Виктор</span>
				<span class="contacts__position">инженер-консультант завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/sokolova.jpg" alt="Охрименко Наталья" title="Охрименко Наталья">
				<span class="contacts__name">Соколова Светлана</span>
				<span class="contacts__position">главный конструктор завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/borisov1.jpg" alt="Михолап Наталия" title="Михолап Наталия">
				<span class="contacts__name">Борисов Сергей</span>
				<span class="contacts__position">директор по качеству завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/lukanenkov.jpg" alt="Бороздина Карина" title="Бороздина Карина">
				<span class="contacts__name">Луканенков Руслан</span>
				<span class="contacts__position">руководитель сервисного центра завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/djibladze_lida.jpg" alt="Животовская Виктория" title="Животовская Виктория">
				<span class="contacts__name">Джибладзе Лидия</span>
				<span class="contacts__position">руководитель отдела продвижения и рекламы завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/dolgushin_valera2.jpg" alt="Каштанова Наталья" title="Каштанова Наталья">
				<span class="contacts__name">Долгушин Валерий</span>
				<span class="contacts__position">специалист по инструменту КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/pavlov_andrey.jpg" alt="Алексей Рожков" title="Алексей Рожков">
				<span class="contacts__name">Павлов Андрей</span>
				<span class="contacts__position">специалист по кабельным муфтам и термоусаживаемым изделиям</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/balashov_va2.jpg" alt="Волкова Венера" title="Волкова Венера">
				<span class="contacts__name">Балашов Вячеслав</span>
				<span class="contacts__position">руководитель лаборатории завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/golovnev_ii.jpg" alt="Черенкова Анна" title="Черенкова Анна">
				<span class="contacts__name">Головнев Игорь</span>
				<span class="contacts__position">руководитель отдела по работе с клиентами завода КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/ohrimenko_nata.jpg" alt="Борисова Анастасия" title="Борисова Анастасия">
				<span class="contacts__name">Охрименко Наталья</span>
				<span class="contacts__position">старший менеджер по продажам ТД КВТ</span>
			</div>

			<div class="contacts__item">
				<img class="contacts__img" src="./img/contacts/alexey.jpg" alt="Самофатова Светлана" title="Самофатова Светлана">
				<span class="contacts__name">Рожков Алексей</span>
				<span class="contacts__position">специалист по инструменту КВТ</span>
			</div>
	</section>

	<section>
		<div class="page-title">
			<a>
				<h2>Отзывы</h2>
			</a>
			<div class="page-title__background"></div>
			<div class="page-title__background2"></div>
		</div>

		<div class="feedbacks-list feedbacks">
			<div class="feedbacks__item">
				<p>В ноябре 2018 года сотрудники НОУ ДПО НУК г. Новокуйбышевск прошли стажировку по программе «Монтаж кабельных муфт 1-10 кВ» на электротехническом заводе КВТ в г. Калуга.</p>

				<p>Технический директор завода КВТ Жуков А. А. ознакомил коллектив преподавателей с технологией производства кабельных муфт на заводе от начального этапа до получения готовых изделий.</p>

				<p>Ответственная за обучение - старший менеджер Торгового дома КВТ Охрименко Н. В. осуществляла организацию процесса стажировки.</p>

				<p>В электротехнической лаборатории завода КВТ начальник ЭТЛ Балашов В.А. и инженер ЭТЛ Митин С.А. провели демонстрационные занятия по монтажу кабельных муфт на кабелях с изоляцией из сшитого полиэтилена. Участники стажировки были непосредственно задействованы в данных мероприятиях под руководством сотрудников завода КВТ. При выполнении монтажа особое внимание уделялось соблюдению технологии монтажа, разбирались наиболее часто встречающиеся ошибки при выполнении монтажа, а также рассказывалась методика проведения испытания кабельных муфт в лаборатории.</p>

				<p>Руководство НОУ ДПО НУК выражает благодарность сотрудникам завода КВТ за высокий уровень стажировки, а также за полученные практические навыки по технологии монтажа кабельных муфт, которые несомненно найдут применение в учебном процессе.</p>

				<p>Надеемся на дальнейшее плодотворное сотрудничество.</p>

				<p>Директор НОУ ДПО НУК г. Новокуйбышевск К.Н. Карханин</p>
			</div>	
		</div>
	</section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>	